.main-container {
    width: 900px;
    margin: auto;
}
.entity-card {
    width: 400px;
}
.edit-button{
    background-color: yellow;
    color: black;
}
mat-card {
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 400px;
    float: left;

    mat-divider {
        margin: 10px 0;
    }
    img {
        border-radius: 20px;
        margin-left: 20px;
    }
    .exam-icon {
        font-size: 1.4em;
        position: relative;
        top: 0.5em;
    }
}
.subject-id {
    font-size: 0.8em;
    color: #ccc;
}

.edit-box {
    width: 500px;
    margin: auto;
    margin-bottom: 40px;
    padding: 20px;
    background-color: rgb(25, 36, 25);
    border-radius: 20px;
    mat-form-field, mat-checkbox, button {
        width: 100%;
        margin-bottom: 10px;
    }
}
