.main-container {
    width: 900px;
    margin: auto;
}
.filter-box {
    margin: 40px;
    padding: 40px;
    border-radius: 20px;
    background-color: yellow;
}
mat-form-field{
    margin-right: 20px;
}
.entity-card {
    padding: 10px;
    margin-bottom: 10px;
    margin-right: 10px;
    max-width: 300px;
    float: left;

    mat-divider {
        margin: 10px 0;
    }
    img {
        border-radius: 20px;
        margin-left: 20px;
    }
    .exam-icon {
        font-size: 1.4em;
        position: relative;
        top: 0.5em;
    }
}
.subject-id {
    font-size: 0.8em;
    color: #ccc;
}