<div class="main-container">
    <h1>Subjects</h1>
    <div class="filter-box">
        <mat-form-field>
            <mat-label>Min</mat-label>
            <mat-select [(value)]="selectedMin">
              @for (n of rangeArray; track n) {
                <mat-option [value]="n">{{n}}</mat-option>
              }
            </mat-select>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Max</mat-label>
            <mat-select [(value)]="selectedMax">
                @for (n of rangeArray; track n) {
                    <mat-option [value]="n">{{n}}</mat-option>
                }
            </mat-select>
          </mat-form-field>
        <button
            mat-flat-button
            color="accent"
            (click)="setFilter()">
            Filter
        </button>
    </div>


    <mat-card class="entity-card" *ngFor="let subject of subjects">
        <mat-card-header>
            <mat-card-title><div matBadge="{{ subject.credit }}" matBadgeOverlap="false" class="demo-section">{{ subject.name }}</div></mat-card-title>
            <mat-card-subtitle><mat-chip>{{ subject.neptun }}</mat-chip></mat-card-subtitle>
            <img mat-card-sm-image [src]="subject.image">
        </mat-card-header>
        <mat-card-content>
            <mat-divider></mat-divider>
            <p>
                Exam:
                <mat-icon class="exam-icon" *ngIf="subject.exam" aria-label="" fontIcon="check_circle"></mat-icon>
                <mat-icon class="exam-icon" *ngIf="!subject.exam" aria-label="" fontIcon="cancel"></mat-icon>
            </p>
            <p>Credit {{ subject.credit }}</p>
            <p>Registered number of students: {{ subject.registeredStudents }}</p>
            <mat-divider></mat-divider>
            <!-- <p class="subject-id">{{ subject.id }}</p> -->
            <button
                mat-flat-button
                color="accent"
                (click)="clickID(subject.id)">
                Click for ID
            </button>
        </mat-card-content>
    </mat-card>
</div>