<div class="main-container">
    <h1>Register</h1>
    <mat-form-field appearance="outline">
        <mat-label>Email Address</mat-label>
        <input matInput 
            [(ngModel)]="this.registerModel.email"
            [formControl]="this.email">
        <mat-icon matSuffix>email</mat-icon>
        <mat-error *ngIf="this.email.invalid">{{ getEmailErrorMessage() }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput 
            type="password"
            [(ngModel)]="this.registerModel.password">
        <mat-icon matSuffix>lock</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput 
            [(ngModel)]="this.registerModel.firstName">
        <mat-icon matSuffix>text_field</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput 
            [(ngModel)]="this.registerModel.lastName">
        <mat-icon matSuffix>text_field</mat-icon>
    </mat-form-field>

    <mat-checkbox
        [(ngModel)]="this.acceptTermsAndConditions">
        Accept Terms And Conditions
    </mat-checkbox>
    <button
        mat-flat-button
        color="accent"
        (click)="sendRegisterCredentials()"
        [disabled]="!acceptTermsAndConditions">
        Register
    </button>
</div>